/*
    En CSS Grid podemos alinear el contenido de los grid-items diciendoles que ocupen o usen como referencia las columnas y/o filas de su padre.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.1px;
}

.container {
    width: 90%;
    height: 80vh;
    margin: 50px auto;
    box-shadow: 0 0 2px 0 black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.card {
    background-color: chocolate;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}